.textBox {
	width: 452px;
	height: 325px;
	position: absolute;
	top: 305px;
	left: 12px;
	background-color: black;
	color: white;
}
#input {
	width: 100px;
	height: 20px;
	position: absolute;
	top: 600px;
	left: 200px;
	z-index: 2;
}
#peopleTxt {
	width: 160px;
	height: 260px;
	position: absolute;
	top: 20px;
	left: 235px;
	font-size: small;
}