.Locations {
	background: url("Locations.png") no-repeat;
	--location-scale-factor: 1;
}
.People {
	background: url("People.png") no-repeat;
	--people-scale-factor: 1;
}
.indepen1 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 0.4% 0.5%;
}
.indepen2 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 0.5% 20%;
}
.fortLar1 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 0.5% 39.8%;
}
.fortLar2 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 0.2% 59.5%;
}
.fortBoise1 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(205px * var(--location-scale-factor));
	display: inline-block;
	background-position: 0.1% 79.6%;
}
.fortBoise2 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(202px * var(--location-scale-factor));
	display: inline-block;
	background-position: 0.1% 99.8%;
}
.kansas1 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 24.8% 0.6%;
}
.kansas2 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 25% 20.2%;
}
.indRock1 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 25% 39.9%;
}
.indRock2 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 25.1% 59.3%;
}
.blueRiver1 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(202px * var(--location-scale-factor));
	display: inline-block;
	background-position: 49.6% 0.5%;
}
.blueRiver2 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(202px * var(--location-scale-factor));
	display: inline-block;
	background-position: 49.5% 20.2%;
}
.southPass1 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 49.5% 39.8%;
}
.southPass2 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 49.5% 59.4%;
}
.grandeRonde {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 49.6% 79.4%;
}
.fortKear1 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 74.1% 0.8%;
}
.fortKear2 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 74.2% 20.5%;
}
.theDalles {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 74% 79.6%;
}
.chimney1 {
	width: calc(310px * var(--location-scale-factor));
	height: calc(201px * var(--location-scale-factor));
	display: inline-block;
	background-position: 98.7% 1%;
}
.chimney2 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 98.7% 20.5%;
}
.greenRiver {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 98.7% 59.2%;
}
.p1 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 0% 0%;
}
.p2 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 33% 0%;
}
.p3 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 66% 0%;
}
.p4 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 99.4% 0%;
}
.p5 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 0% 19.85%;
}
.p6 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 33% 19.85%;
}
.p7 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 66% 19.85%;
}
.p8 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 99.4% 20%;
}
.p9 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 0% 39.8%;
}
.p10 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 33.1% 39.87%;
}
.p11 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 66.1% 39.87%;
}
.p12 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 99.4% 39.87%;
}
.p13 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 0.2% 59.7%;
}
.p14 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 33.2% 59.7%;
}
.p15 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 66.2% 59.8%;
}
.p16 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 99.2% 59.9%;
}
.p17 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 0.1% 79.7%;
}
.p18 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 33.38% 79.78%;
}
.p19 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 66.48% 79.78%;
}
.p20 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 99.9% 79.9%;
}
.p21 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 0% 100%;
}
.p22 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 33.2% 99.95%;
}