.UI {
	background: url("UI.png") no-repeat;
	width: 766px;
	height: 643px;
	display: inline-block;
}
.mainScreen {
	position: absolute;
	top: 17px;
	left: 13px;
	width: 452px;
	height: 299px;
}
.Locations {
	background: url("Locations.png") no-repeat;
	position: absolute;
	top: 17px;
	left: 12px;
	--location-scale-factor: 1.5;
}
.People {
	background: url("People.png") no-repeat;
	position: absolute;
	top: 13px;
	left: 12px;
	--people-scale-factor: 1.2;
}
.Event {
	background: url("Event.png") no-repeat;
	position: absolute;
	top: 15px;
	left: 40px;
	--event-scale-factor: 1.3;
}
.Event2 {
	background: url("Event2.png") no-repeat;
	position: absolute;
	top: 15px;
	left: 40px;
	--event2-scale-factor: 1.3;
}
.EventSnow {
	background: url("EventSnow.png") no-repeat;
	position: absolute;
	top: 15px;
	left: 40px;
	--eventsnow-scale-factor: 1.3;
}
.EventSnow2 {
	background: url("EventSnow2.png") no-repeat;
	position: absolute;
	top: 15px;
	left: 40px;
	--eventsnow2-scale-factor: 1.3;
}
.snowFamilyLost {
	width: calc(303px * var(--eventsnow2-scale-factor));
	height: calc(232px * var(--eventsnow2-scale-factor));
	display: inline-block;
	background-position: 0.6% 1.4%;
}
.snowLost {
	width: calc(303px * var(--eventsnow2-scale-factor));
	height: calc(232px * var(--eventsnow2-scale-factor));
	display: inline-block;
	background-position: 33.5% 1.4%;
}
.snowImpassible {
	width: calc(303px * var(--eventsnow2-scale-factor));
	height: calc(232px * var(--eventsnow2-scale-factor));
	display: inline-block;
	background-position: 66.3% 1.6%;
}
.snowWrongTrail {
	width: calc(303px * var(--eventsnow2-scale-factor));
	height: calc(232px * var(--eventsnow2-scale-factor));
	display: inline-block;
	background-position: 99.2% 1.6%;
}
.snowBrokeTounge {
	width: calc(303px * var(--eventsnow2-scale-factor));
	height: calc(232px * var(--eventsnow2-scale-factor));
	display: inline-block;
	background-position: 0.6% 50.4%;
}
.snowBrokeWheel {
	width: calc(303px * var(--eventsnow2-scale-factor));
	height: calc(232px * var(--eventsnow2-scale-factor));
	display: inline-block;
	background-position: 33.6% 50.4%;
}
.snowBrokeAxle {
	width: calc(303px * var(--eventsnow2-scale-factor));
	height: calc(232px * var(--eventsnow2-scale-factor));
	display: inline-block;
	background-position: 66.5% 50.4%;
}
.snowRoughTrail {
	width: calc(303px * var(--eventsnow2-scale-factor));
	height: calc(232px * var(--eventsnow2-scale-factor));
	display: inline-block;
	background-position: 99.4% 50.4%;
}
.snowFire {
	width: calc(303px * var(--eventsnow2-scale-factor));
	height: calc(232px * var(--eventsnow2-scale-factor));
	display: inline-block;
	background-position: 0.6% 99.1%;
}
.snowThief {
	width: calc(303px * var(--eventsnow2-scale-factor));
	height: calc(232px * var(--eventsnow2-scale-factor));
	display: inline-block;
	background-position: 33.3% 99.1%;
}
.snowDeath {
	width: calc(303px * var(--eventsnow-scale-factor));
	height: calc(232px * var(--eventsnow-scale-factor));
	display: inline-block;
	background-position: 0.3% 1.3%;
}
.snowBrokeLeg {
	width: calc(303px * var(--eventsnow-scale-factor));
	height: calc(232px * var(--eventsnow-scale-factor));
	display: inline-block;
	background-position: 33.3% 1.3%;
}
.snowBadWater {
	width: calc(303px * var(--eventsnow-scale-factor));
	height: calc(232px * var(--eventsnow-scale-factor));
	display: inline-block;
	background-position: 66.3% 1.3%;
}
.snowGrave {
	width: calc(303px * var(--eventsnow-scale-factor));
	height: calc(232px * var(--eventsnow-scale-factor));
	display: inline-block;
	background-position: 99.3% 1.3%;
}
.snowSickOx {
	width: calc(303px * var(--eventsnow-scale-factor));
	height: calc(232px * var(--eventsnow-scale-factor));
	display: inline-block;
	background-position: 0.3% 98.5%;
}
.snowDeadOx {
	width: calc(303px * var(--eventsnow-scale-factor));
	height: calc(232px * var(--eventsnow-scale-factor));
	display: inline-block;
	background-position: 33.3% 98.5%;
}
.snowNoGrass {
	width: calc(303px * var(--eventsnow-scale-factor));
	height: calc(232px * var(--eventsnow-scale-factor));
	display: inline-block;
	background-position: 66.3% 98.5%;
}
.snowLostOx {
	width: calc(303px * var(--eventsnow-scale-factor));
	height: calc(232px * var(--eventsnow-scale-factor));
	display: inline-block;
	background-position: 99.5% 98.5%;
}
.noGrass {
	width: calc(303px * var(--event2-scale-factor));
	height: calc(232px * var(--event2-scale-factor));
	display: inline-block;
	background-position: 0.5% 0.8%;
}
.sickOx {
	width: calc(303px * var(--event2-scale-factor));
	height: calc(232px * var(--event2-scale-factor));
	display: inline-block;
	background-position: 33.5% 0.8%;
}
.deadOx {
	width: calc(303px * var(--event2-scale-factor));
	height: calc(232px * var(--event2-scale-factor));
	display: inline-block;
	background-position: 66.5% 0.8%;
}
.lostOx {
	width: calc(303px * var(--event2-scale-factor));
	height: calc(232px * var(--event2-scale-factor));
	display: inline-block;
	background-position: 99.4% 0.8%;
}
.blizzard {
	width: calc(303px * var(--event2-scale-factor));
	height: calc(232px * var(--event2-scale-factor));
	display: inline-block;
	background-position: 0.5% 34%;
}
.dustStorm {
	width: calc(303px * var(--event2-scale-factor));
	height: calc(232px * var(--event2-scale-factor));
	display: inline-block;
	background-position: 33.5% 34%;
}
.thunderstorm {
	width: calc(303px * var(--event2-scale-factor));
	height: calc(232px * var(--event2-scale-factor));
	display: inline-block;
	background-position: 66.4% 34%;
}
.hailStorm {
	width: calc(303px * var(--event2-scale-factor));
	height: calc(232px * var(--event2-scale-factor));
	display: inline-block;
	background-position: 99.2% 34%;
}
.fire {
	width: calc(303px * var(--event2-scale-factor));
	height: calc(232px * var(--event2-scale-factor));
	display: inline-block;
	background-position: 0.5% 66.8%;
}
.thief {
	width: calc(303px * var(--event2-scale-factor));
	height: calc(232px * var(--event2-scale-factor));
	display: inline-block;
	background-position: 33.4% 66.8%;
}
.fog {
	width: calc(303px * var(--event2-scale-factor));
	height: calc(232px * var(--event2-scale-factor));
	display: inline-block;
	background-position: 66.5% 66.8%;
}
.roughTrail {
	width: calc(303px * var(--event2-scale-factor));
	height: calc(232px * var(--event2-scale-factor));
	display: inline-block;
	background-position: 99.4% 66.8%;
}
.wrongTrail {
	width: calc(303px * var(--event2-scale-factor));
	height: calc(232px * var(--event2-scale-factor));
	display: inline-block;
	background-position: 0.5% 99.4%;
}
.lost {
	width: calc(303px * var(--event2-scale-factor));
	height: calc(232px * var(--event2-scale-factor));
	display: inline-block;
	background-position: 33.4% 99.4%;
}
.impassible {
	width: calc(303px * var(--event2-scale-factor));
	height: calc(232px * var(--event2-scale-factor));
	display: inline-block;
	background-position: 66.3% 99.4%;
}
.familyLost {
	width: calc(303px * var(--event2-scale-factor));
	height: calc(232px * var(--event2-scale-factor));
	display: inline-block;
	background-position: 99.4% 99.4%;
}
.sick1 {
	width: calc(303px * var(--event-scale-factor));
	height: calc(232px * var(--event-scale-factor));
	display: inline-block;
	background-position: 0.4% 0.4%;
}
.better1 {
	width: calc(303px * var(--event-scale-factor));
	height: calc(232px * var(--event-scale-factor));
	display: inline-block;
	background-position: 33.4% 0.4%;
}
.death1 {
	width: calc(303px * var(--event-scale-factor));
	height: calc(232px * var(--event-scale-factor));
	display: inline-block;
	background-position: 66.3% 0.4%;
}
.snake {
	width: calc(303px * var(--event-scale-factor));
	height: calc(232px * var(--event-scale-factor));
	display: inline-block;
	background-position: 99.2% 0.4%;
}
.brokenArm {
	width: calc(303px * var(--event-scale-factor));
	height: calc(232px * var(--event-scale-factor));
	display: inline-block;
	background-position: 0.4% 33.4%;
}
.brokenLeg {
	width: calc(303px * var(--event-scale-factor));
	height: calc(232px * var(--event-scale-factor));
	display: inline-block;
	background-position: 33.3% 33.3%;
}
.grave1 {
	width: calc(303px * var(--event-scale-factor));
	height: calc(232px * var(--event-scale-factor));
	display: inline-block;
	background-position: 66.3% 33.2%;
}
.grave2 {
	width: calc(303px * var(--event-scale-factor));
	height: calc(232px * var(--event-scale-factor));
	display: inline-block;
	background-position: 99.3% 33.2%;
}
.badWater {
	width: calc(303px * var(--event-scale-factor));
	height: calc(232px * var(--event-scale-factor));
	display: inline-block;
	background-position: 0.3% 66.2%;
}
.noWater {
	width: calc(303px * var(--event-scale-factor));
	height: calc(232px * var(--event-scale-factor));
	display: inline-block;
	background-position: 33.3% 66.2%;
}
.spoiled {
	width: calc(303px * var(--event-scale-factor));
	height: calc(232px * var(--event-scale-factor));
	display: inline-block;
	background-position: 66.3% 66.2%;
}
.fruit {
	width: calc(303px * var(--event-scale-factor));
	height: calc(232px * var(--event-scale-factor));
	display: inline-block;
	background-position: 99.3% 66.2%;
}
.freeWagon {
	width: calc(303px * var(--event-scale-factor));
	height: calc(232px * var(--event-scale-factor));
	display: inline-block;
	background-position: 0.5% 99.6%;
}
.brokeWheel {
	width: calc(303px * var(--event-scale-factor));
	height: calc(232px * var(--event-scale-factor));
	display: inline-block;
	background-position: 33.5% 99.6%;
}
.brokeAxle {
	width: calc(303px * var(--event-scale-factor));
	height: calc(232px * var(--event-scale-factor));
	display: inline-block;
	background-position: 66.4% 99.6%;
}
.brokeTounge {
	width: calc(303px * var(--event-scale-factor));
	height: calc(232px * var(--event-scale-factor));
	display: inline-block;
	background-position: 99.4% 99.6%;
}
.indepen1 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 0.4% 0.5%;
}
.indepen2 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 0.5% 20%;
}
.fortLar1 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 0.5% 39.8%;
}
.fortLar2 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 0.2% 59.5%;
}
.fortBoise1 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(205px * var(--location-scale-factor));
	display: inline-block;
	background-position: 0.1% 79.6%;
}
.fortBoise2 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(202px * var(--location-scale-factor));
	display: inline-block;
	background-position: 0.1% 99.8%;
}
.kansas1 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 24.8% 0.6%;
}
.kansas2 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 25% 20.2%;
}
.indRock1 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 25% 39.9%;
}
.indRock2 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 25.1% 59.3%;
}
.blueRiver1 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(202px * var(--location-scale-factor));
	display: inline-block;
	background-position: 49.6% 0.5%;
}
.blueRiver2 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(202px * var(--location-scale-factor));
	display: inline-block;
	background-position: 49.5% 20.2%;
}
.southPass1 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 49.5% 39.8%;
}
.southPass2 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 49.5% 59.4%;
}
.grandeRonde {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 49.6% 79.4%;
}
.fortKear1 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 74.1% 0.8%;
}
.fortKear2 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 74.2% 20.5%;
}
.theDalles {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 74% 79.6%;
}
.chimney1 {
	width: calc(310px * var(--location-scale-factor));
	height: calc(201px * var(--location-scale-factor));
	display: inline-block;
	background-position: 98.7% 1%;
}
.chimney2 {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 98.7% 20.5%;
}
.greenRiver {
	width: calc(305px * var(--location-scale-factor));
	height: calc(198px * var(--location-scale-factor));
	display: inline-block;
	background-position: 98.7% 59.2%;
}
.p1 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 0% 0%;
}
.p2 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 33% 0%;
}
.p3 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 66% 0%;
}
.p4 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 99.4% 0%;
}
.p5 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 0% 19.85%;
}
.p6 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 33% 19.85%;
}
.p7 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 66% 19.85%;
}
.p8 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 99.4% 20%;
}
.p9 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 0% 39.8%;
}
.p10 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 33.1% 39.87%;
}
.p11 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 66.1% 39.87%;
}
.p12 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 99.4% 39.87%;
}
.p13 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 0.2% 59.7%;
}
.p14 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 33.2% 59.7%;
}
.p15 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 66.2% 59.8%;
}
.p16 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 99.2% 59.9%;
}
.p17 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 0.1% 79.7%;
}
.p18 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 33.38% 79.78%;
}
.p19 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 66.48% 79.78%;
}
.p20 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 99.9% 79.9%;
}
.p21 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 0% 100%;
}
.p22 {
	width: calc(330px * var(--people-scale-factor));
	height: calc(254px * var(--people-scale-factor));
	display: inline-block;
	background-position: 33.2% 99.95%;
}